@charset "UTF-8";
*{
  margin:0;
  box-sizing: border-box;
}
:root{
  font-size: 62.5%;/* 1rem = 10px*/
  --primary-color:hsl(170, 100%, 26%);
  --hedline:hsl(210, 11%, 15%);
  --paragraph:hsla(210, 9%, 31%, 1);
}
body{
  font-family: 'DM Sans';
  font-size: 1.6rem;
  text-align: center;
}
header{
  width: 37.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right:2rem;
  margin-top: 4.1rem;
}
h4{
  font-size: 1.4rem;
  color:var(--primary-color);
  margin-bottom: 1.6rem;
}
h1{
  font-size:3.4rem;
  color:var(--hedline);
  line-height: 130%;
  margin-bottom:2.4rem;
}
p{
  font-size:1.8;
  line-height: 150%;
  color:var(--paragraph);
  margin-bottom:3.4rem;
}
button{
  background-color:var(--primary-color);
  border:none;
  border-radius: 4rem;
  margin-bottom: 6rem;
  height:5.2rem;
  width:26.3rem;
  color:white;
  text-transform: uppercase;
  font-size:1.4rem;
  font-weight: 700;
  display:flex;
  align-items: center;
  justify-content: center;
  gap:1.6rem;
  margin-left: auto;
  margin-right: auto;
}
.stats{
  width:32.7rem;
  height:42.0rem;
  background-color:hsl(39, 100%, 97%);
  border-radius: 0.6rem;
  margin-inline: auto;
  display:flex;
  flex-direction: column;
  justify-content: center;
  
 gap:6rem;
}
.stat p{
  margin:0;
}